{% extends "base.html" %}
{% load static %}  


{% block title %}
All posts
{% endblock %}

{%block content%}

<!-- header -->
{% include "blog/includes/header.html"%}
<!-- header -->

<main id="main">

    <div class="container">
      <div class="row">

        <div class="col-md-12" data-aos="fade-up">

          {% include "blog/includes/post.html"%}


        </div>
      </div>
    </div>

</main><!-- End #main -->

  <!-- Footer -->
  {% include "blog/includes/footer.html"%}
  <!-- Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}