{% extends "base.html" %}
{% load static %}  


{% block title %}
All posts
{% endblock %}

{%block content%}

<!-- header -->
{% include "blog/includes/header.html"%}
<!-- header -->

<main id="main">
  <section>
    <div class="container">
      <div class="row">

        <div class="col-md-12" data-aos="fade-up">

          {% include "blog/includes/post_to_read.html"%}

          <div class="text-start py-4">
            <div class="custom-pagination">
              <a href="#" class="prev">Prevous</a>
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#" class="next">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->

  <!-- Footer -->
  {% include "blog/includes/footer.html"%}
  <!-- Footer -->

<!-- Vendor JS Files -->
<script src="{% static 'blog/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'blog/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'blog/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'blog/assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'blog/assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'blog/assets/js/main.js' %}"></script>

{% endblock %}